*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}

#tempo{
    padding-left: 10px;
    font-weight: bold;
}
#btn-contar{
    cursor: pointer;
    border: 1px solid black;
    text-align: center;
    width: 100px;
    font-size: 18px;
    font-weight: bold;
}
#btn-contar:hover{
    color: rgb(0, 162, 255);
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: rgb(4, 4, 27);
}
.inserir{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.inserir h1{
    font-size: 40px;
    text-transform: capitalize;
}

.contagem, .contagem div{
    display: flex;
}
.contagem{
    height: 50%;
    gap: 50px;
}

.contagem div{
    box-shadow: 
        -3px -3px 8px 0 rgba(32, 32, 32, 0.4),
        2px 2px 6px 0 rgba(0, 20, 110, 0.3);
    flex-direction: column;
    align-items: center;
    height: 300px;
    padding: 0 20px;
}

.contagem div span:first-child{
    font-size: 150px;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4); 
}